h1 {
    font-size: 65px;
    color:rgb(55, 55, 56);
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

p {font-size: 25px;
    color:rgb(55, 55, 56);
    text-align:center;

}
body {
    background-color: rgb(204, 227, 241);
}

img {
  width: 500px;  
}